.container {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: Ū;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.container {
  display: flex;
  gap: 100px;
}

.posts {
  flex: 1;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}

.imgContainer {
  width: 200px;
  height: 100px;
  position: Ū;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}
.periodo{
  width: 100%;
}

.periodo > input{
  margin-right: 10px;
  margin-bottom:5px;
}

.periodo > p {
  margin-bottom: 10px;
}